VITE_SUPABASE_URL=https://schdxdvdxoahtwijvwrb.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InNjaGR4ZHZkeG9haHR3aWp2d3JiIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzM0NzY2ODEsImV4cCI6MjA4OTA1MjY4MX0.RAM-ZmuEgwhj6mSs9zmaP3jYg1wEQ5SjS5f_9eFzY5E

VITE_API_URL=http://localhost:3001
